openapi: 3.0.3

info:
  title: Checkout.com - Identity Verification
  version: 1.0.0
  x-logo:
    url: "https://raw.githubusercontent.com/ubbleai/docs/main/cko_doc_logo.png"
  description: ""
 
servers:
  - url: https://api.ubble.ai

tags:
  - name: identity verifications
    description: Identity verification endpoints documentation.
  - name: ID document verifications
    description: API for ID document verification
  - name: AML verifications
    description: AML verification endpoints documentation.
  - name: applicants
    description: Applicant management endpoints documentation.
  - name: attempts
    description: Attempt management endpoints documentation.

x-tagGroups:
  - name: Endpoints documentation
    tags:
      - Applicants
      - Business applicants
      - Identity verifications
      - ID document verifications
      - Face authentications
      - AML verifications
      - Website verifications (Coming soon)
      - Bank document verifications (Coming soon)
      - Company document verifications (Coming soon)
      - Address document verifications (Coming soon)
      - Service status
paths:
  /health:
    get:
      tags:
        - Service status
      summary: Retrieve API health
      description: This endpoint allows you to get the health of our api, anything other than a 200 status code is not OK
      operationId: retrieve_api_health
      responses:
        "200":
          description: API is OK

  /v2/address-document-verifications:
    post:
      tags:
        - Address document verifications (Coming soon)
      summary: Create an Address Document Verification
      operationId: create_address_document_verification
      description: Creates an Address Document Verification
      requestBody:
        required: true
        content:
          application/json:
            examples:
              address_document_verification_creation_request_body_min:
                $ref: "#/components/examples/address_document_verification_creation_request_body_min"
              address_document_verification_creation_request_body_max:
                $ref: "#/components/examples/address_document_verification_creation_request_body_max"
            schema:
              $ref: "#/components/schemas/AddressDocumentVerificationInputPost"
      responses:
        "201":
          description: Address Document Verification created successfully
          content:
            application/json:
              examples:
                address_document_verification_creation_response_body:
                  $ref: "#/components/examples/address_document_verification_creation_response_body"
              schema:
                allOf:
                  - $ref: "#/components/schemas/AddressDocumentVerificationOutputPost"
        "400":
          description: Bad request
        "401":
          description: Unauthorized
        "422":
          description: Unprocessable entity
        "500":
          description: Internal server error
        "503":
          description: Service unavailable

  /v2/address-document-verifications/{address_document_verification_id}:
    get:
      tags:
        - Address document verifications (Coming soon)
      summary: Retrieve an Address Document Verification
      description: This endpoint allows you to get the detailed results of an Address Document Verification
      operationId: retrieve_address_document_verification
      parameters:
        - name: address_document_verification_id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/AddressDocumentVerificationId"
      responses:
        "200":
          description: Address Document Verification retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/AddressDocumentVerificationOutputGet"
        "404":
          description: Address Document Verification not found
        "500":
          description: Internal server error

  /v2/address-document-verifications/{address_document_verification_id}/anonymize:
    post:
      tags:
        - Address document verifications (Coming soon)
      summary: Anonymize an Address Document Verification
      operationId: anonymize_address_document_verification
      description: Anonymize the personal data of an Address Document Verification with the specified ID.
      parameters:
        - name: address_document_verification_id
          in: path
          description: ID of the document verification to anonymize
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Address Document Verification anonymized
          content:
            application/json:
              examples:
                address_document_verification_anonymization_response_body:
                  $ref: "#/components/examples/address_document_verification_anonymization_response_body"
              schema:
                required: [applicant_id, user_journey_id]
                allOf:
                  - $ref: "#/components/schemas/AddressDocumentVerificationOutputAnonymize"
        "404":
          description: Address Document Verification not found
        "500":
          description: Internal server error

  /v2/address-document-verifications/{address_document_verification_id}/attempts:
    get:
      tags:
        - Address document verifications (Coming soon)
      summary: List Address Document Verification attempts
      operationId: list_attempts_address_document_verification
      description: |
        This endpoint allows you to list all attempts of an Address Document Verification.

        Attempts are returned ordered by creation date, newest first.

        The response is paginated (see [Pagination](#section/API-standards/Pagination) section).
        You can navigate through pages using the `skip` and `limit` query parameters or by following the URLs in the `_links` object.
      parameters:
        - name: address_document_verification_id
          in: path
          description: ID of the document verification
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/skipParam"
        - $ref: "#/components/parameters/limitParam"
      responses:
        "200":
          description: Address Document Verification attempts retrieved successfully
          content:
            application/json:
              examples:
                address_document_verification_attempt_list_response_body:
                  $ref: "#/components/examples/address_document_verification_attempt_list_response_body"
              schema:
                allOf:
                  - $ref: "#/components/schemas/AddressDocumentVerificationAttemptOutputList"
        "404":
          description: The provided document verification ID is not valid
        "500":
          description: An error occurred while fetching the attempts
    post:
      tags:
        - Address document verifications (Coming soon)
      summary: Create an Address Document Verification attempt
      description: "This endpoint allows you to create an Address Document Verification attempt. It is possible when the Address Document Verification 
        is one of the following statuses: `created`, `retry_required`"
      operationId: create_address_document_verification_attempt
      parameters:
        - name: address_document_verification_id
          in: path
          description: ID of the document verification
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            examples:
              address_document_verification_attempt_creation_request_body_min:
                $ref: "#/components/examples/address_document_verification_attempt_creation_request_body_min"
              address_document_verification_attempt_creation_request_body_max:
                $ref: "#/components/examples/address_document_verification_attempt_creation_request_body_max"
            schema:
              $ref: "#/components/schemas/AddressDocumentVerificationAttemptInputPost"
      responses:
        "201":
          description: Address Document Verification attempt created
          content:
            application/json:
              examples:
                address_document_verification_attempt_creation_response_body:
                  $ref: "#/components/examples/address_document_verification_attempt_creation_response_body"
              schema:
                $ref: "#/components/schemas/AddressDocumentVerificationAttemptOutputPost"
        "404":
          description: The provided Address Document Verification ID is not valid
        "409":
          description: The Address Document Verification is not in a valid state to create an attempt.
            The Address Document Verification status must be `created` or `retry_required`
        "500":
          description: An error occurred while creating the attempt

  /v2/address-document-verifications/{address_document_verification_id}/attempts/{attempt_id}:
    get:
      tags:
        - Address document verifications (Coming soon)
      summary: Retrieve an Address Document Verification attempt
      description: This endpoint allows you to retrieve the details for a given Address Document Verification attempt.
      operationId: fetch_attempts_address_document_verification
      parameters:
        - name: address_document_verification_id
          in: path
          description: ID of the document verification
          required: true
          schema:
            type: string
        - name: attempt_id
          in: path
          description: ID of the document verification attempt
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Address Document Verification attempt retrieved successfully
          content:
            application/json:
              examples:
                address_document_verification_attempt_get_response_body:
                  $ref: "#/components/examples/address_document_verification_attempt_get_response_body"
              schema:
                allOf:
                  - $ref: "#/components/schemas/AddressDocumentVerificationAttemptOutputGet"
        "404":
          description: The provided document verification attempt ID is not valid
        "500":
          description: An error occurred while fetching the attempt

  /v2/address-document-verifications/{address_document_verification_id}/attempts/{attempt_id}/assets:
    get:
      tags:
        - Address document verifications (Coming soon)
      summary: Retrieve an Address Document Verification attempt asset
      operationId: fetch_asset_address_document_verification_attempt
      description: |
        This endpoint allows you to retrieve the assets associated with an Address Document Verification.
        This includes the document image.

        The response is paginated (see [Pagination](#section/API-standards/Pagination) section).
        You can navigate through pages using the `skip` and `limit` query parameters or by following the URLs in the `_links` object.
      parameters:
        - name: address_document_verification_id
          in: path
          description: ID of the Address Document Verification
          required: true
          schema:
            type: string
        - name: attempt_id
          in: path
          description: ID of the Address Document Verification attempt
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/skipParam"
        - $ref: "#/components/parameters/limitParam"
      responses:
        "200":
          description: Address Document Verification attempt asset retrieved successfully
          content:
            application/json:
              examples:
                address_document_verification_attempt_output_assets_response_body:
                  $ref: "#/components/examples/address_document_verification_attempt_output_assets_response_body"
              schema:
                $ref: "#/components/schemas/AddressDocumentVerificationAttemptAssetsOutput"

  /v2/address-document-verifications/{address_document_verification_id}/notify:
    post:
      tags:
        - Address document verifications (Coming soon)
      summary: Request webhook notification
      operationId: notify_address_document_verification
      description: This endpoint can be used to initiate a webhook call containing the latest event of an Address Document Verification
      parameters:
        - name: address_document_verification_id
          in: path
          description: ID of the document verification to notify
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                webhook_url:
                  type: string
                  format: uri
      responses:
        "204":
          description: Notification successfully requested

  /v2/address-document-verifications/{address_document_verification_id}/pdf-report:
    get:
      tags:
        - Address document verifications (Coming soon)
      summary: Retrieve PDF report of an Address Document Verification
      operationId: pdf_address_document_verification
      description: |
        This endpoint allows you to retrieve a PDF report of an Address Document Verification.

        Please note that the PDF report is only available for address document verifications that are
        in status `declined` and `approved` once you receive the `address_document_verification_report_created` event.
      parameters:
        - name: address_document_verification_id
          in: path
          description: ID of the Address Document Verification 
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Address Document Verification PDF report retrieved successfully
          content:
            application/json:
              examples:
                address_document_verification_pdf_report_response_body:
                  $ref: "#/components/examples/address_document_verification_pdf_report_response_body"
              schema:
                $ref: "#/components/schemas/AddressDocumentVerificationOutputPdfReport"
        "404":
          description: The PDF report is not available

  /v2/aml-verifications:
    post:
      tags:
        - AML verifications
      summary: Create an AML verification
      description: This endpoint allows you to create an AML verification. You should get a `201` response.
      operationId: create_aml_verification
      requestBody:
        required: true
        content:
          application/json:
            examples:
              Only required data:
                $ref: "#/components/examples/aml_verification_creation_request_body_min"
              All possible data:
                $ref: "#/components/examples/aml_verification_creation_request_body_max"
            schema:
              $ref: "#/components/schemas/AMLVerificationInputPost"
      responses:
        "201":
          description: AML verification created
          content:
            application/json:
              examples:
                aml_verification_response_body:
                  $ref: "#/components/examples/aml_verification_response_body"
              schema:
                required: [applicant_id]
                allOf:
                  - $ref: "#/components/schemas/AMLVerificationOutputPost"

  /v2/aml-verifications/{aml_verification_id}:
    get:
      tags:
        - AML verifications
      summary: Retrieve an AML verification
      description: This endpoint allows you to get the detailed results of an AML verification.
      operationId: retrieve_aml_verification
      parameters:
        - name: aml_verification_id
          required: true
          in: path
          description: ID of the AML verification
          schema:
            $ref: "#/components/schemas/AMLVerificationId"
      responses:
        "200":
          description: AML verification retrieved
          content:
            application/json:
              examples:
                aml_verification_response_body:
                  $ref: "#/components/examples/aml_verification_response_body"
              schema:
                required: [applicant_id]
                allOf:
                  - $ref: "#/components/schemas/AMLVerificationOutputGet"

  /v2/applicants:
    post:
      tags:
        - Applicants
      summary: Create an Applicant
      description: This section describes all endpoints related to applicants. It will enable you to create and manage applicant objects.
      operationId: create_applicant
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApplicantInputPost"
            examples:
              All possible data:
                $ref: "#/components/examples/applicant_creation_request_body"

      responses:
        "201":
          description: Applicant successfully created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicantOutputPost"
              examples:
                Always replies:
                  $ref: "#/components/examples/applicant_response_body"
          links:
            RetrieveApplicantById:
              operationId: retrieve_applicant
              parameters:
                applicant_id: "$response.body#/id"
        "400":
          description: Bad request
          content:
            application/json:
              examples:
                Invalid phone number:
                  value:
                    {
                      "error_type": "request_invalid",
                      "error_codes": ["phone_number__invalid_format"],
                    }

  /v2/applicants/{applicant_id}:
    get:
      tags:
        - Applicants
      summary: Retrieve an Applicant
      description: Retrieve an Applicant
      operationId: retrieve_applicant
      parameters:
        - name: applicant_id
          required: true
          in: path
          description: ID of Applicant to return
          schema:
            $ref: "#/components/schemas/ApplicantId"
      responses:
        "200":
          description: applicant retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicantOutputGet"
              examples:
                Always replies:
                  $ref: "#/components/examples/applicant_response_body"
        "404":
          description: "Applicant not found"

    patch:
      tags:
        - Applicants
      summary: Update an Applicant
      description: Update an Applicant
      operationId: update_applicant
      parameters:
        - name: applicant_id
          required: true
          in: path
          description: ID of Applicant to return
          schema:
            $ref: "#/components/schemas/ApplicantId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApplicantInputPatch"
            examples:
              All possible data:
                $ref: "#/components/examples/applicant_patch_request_body"
      responses:
        "200":
          description: applicant updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicantOutputPatch"
              examples:
                Always replies:
                  $ref: "#/components/examples/applicant_response_body"
        "404":
          description: Applicant not found
        "400":
          description: Bad request. One or more input parameters are invalid
        "500":
          description: Internal server error

  /v2/applicants/{applicant_id}/anonymize:
    post:
      tags:
        - Applicants
      summary: Anonymize an Applicant
      description: Anonymize the personal data of an applicant with the specified ID.
      operationId: anonymize_applicant
      parameters:
        - name: applicant_id
          in: path
          description: ID of the applicant to anonymize
          required: true
          schema:
            type: string
      responses:
        "200":
          description: applicant anonymized successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicantOutputAnonymize"
              examples:
                Always replies:
                  $ref: "#/components/examples/applicant_response_body_anonymized"
        "404":
          description: Identity verification not found
        "400":
          description: Bad request. The applicant cannot be anonymized.
        "500":
          description: Internal server error

  /v2/bank-document-verifications:
    post:
      tags:
        - Bank document verifications (Coming soon)
      summary: Create a Bank Document Verification
      operationId: create_bank_document_verification
      description: Creates a Bank Document Verification
      requestBody:
        required: true
        content:
          application/json:
            examples:
              bank_document_verification_creation_request_body_min:
                $ref: "#/components/examples/bank_document_verification_creation_request_body_min"
              bank_document_verification_creation_request_body_max:
                $ref: "#/components/examples/bank_document_verification_creation_request_body_max"
            schema:
              $ref: "#/components/schemas/BankDocumentVerificationInputPost"
      responses:
        "201":
          description: Bank Document Verification created successfully
          content:
            application/json:
              examples:
                bank_document_verification_creation_response_body:
                  $ref: "#/components/examples/bank_document_verification_creation_response_body"
              schema:
                allOf:
                  - $ref: "#/components/schemas/BankDocumentVerificationOutputPost"
        "400":
          description: Bad request
        "401":
          description: Unauthorized
        "422":
          description: Unprocessable entity
        "500":
          description: Internal server error
        "503":
          description: Service unavailable

  /v2/bank-document-verifications/{bank_document_verification_id}:
    get:
      tags:
        - Bank document verifications (Coming soon)
      summary: Retrieve a Bank Document Verification
      description: This endpoint allows you to get the detailed results of a Bank Document Verification
      operationId: retrieve_bank_document_verification
      parameters:
        - name: bank_document_verification_id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/BankDocumentVerificationId"
      responses:
        "200":
          description: Bank Document Verification retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BankDocumentVerificationOutputGet"
        "404":
          description: Bank Document Verification not found
        "500":
          description: Internal server error

  /v2/bank-document-verifications/{bank_document_verification_id}/anonymize:
    post:
      tags:
        - Bank document verifications (Coming soon)
      summary: Anonymize a Bank Document Verification
      operationId: anonymize_bank_document_verification
      description: Anonymize the personal data of a Bank Document Verification with the specified ID.
      parameters:
        - name: bank_document_verification_id
          in: path
          description: ID of the document verification to anonymize
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Bank Document Verification anonymized
          content:
            application/json:
              examples:
                bank_document_verification_anonymization_response_body:
                  $ref: "#/components/examples/bank_document_verification_anonymization_response_body"
              schema:
                required: [applicant_id, user_journey_id]
                allOf:
                  - $ref: "#/components/schemas/BankDocumentVerificationOutputAnonymize"
        "404":
          description: Bank Document Verification not found
        "500":
          description: Internal server error

  /v2/bank-document-verifications/{bank_document_verification_id}/attempts:
    get:
      tags:
        - Bank document verifications (Coming soon)
      summary: List Bank Document Verification attempts
      operationId: list_attempts_bank_document_verification
      description: |
        This endpoint allows you to list all attempts of a Bank Document Verification.

        Attempts are returned ordered by creation date, newest first.

        The response is paginated (see [Pagination](#section/API-standards/Pagination) section).
        You can navigate through pages using the `skip` and `limit` query parameters or by following the URLs in the `_links` object.
      parameters:
        - name: bank_document_verification_id
          in: path
          description: ID of the document verification
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/skipParam"
        - $ref: "#/components/parameters/limitParam"
      responses:
        "200":
          description: Bank Document Verification attempts retrieved successfully
          content:
            application/json:
              examples:
                bank_document_verification_attempt_list_response_body:
                  $ref: "#/components/examples/bank_document_verification_attempt_list_response_body"
              schema:
                allOf:
                  - $ref: "#/components/schemas/BankDocumentVerificationAttemptOutputList"
        "404":
          description: The provided document verification ID is not valid
        "500":
          description: An error occurred while fetching the attempts
    post:
      tags:
        - Bank document verifications (Coming soon)
      summary: Create a Bank Document Verification attempt
      description: "This endpoint allows you to create a Bank Document Verification attempt. It is possible when the Bank Document Verification 
        is one of the following statuses: `created`, `retry_required`"
      operationId: create_bank_document_verification_attempt
      parameters:
        - name: bank_document_verification_id
          in: path
          description: ID of the document verification
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            examples:
              bank_document_verification_attempt_creation_request_body_min:
                $ref: "#/components/examples/bank_document_verification_attempt_creation_request_body_min"
              bank_document_verification_attempt_creation_request_body_max:
                $ref: "#/components/examples/bank_document_verification_attempt_creation_request_body_max"
            schema:
              $ref: "#/components/schemas/BankDocumentVerificationAttemptInputPost"
      responses:
        "201":
          description: Bank Document Verification attempt created
          content:
            application/json:
              examples:
                bank_document_verification_attempt_creation_response_body:
                  $ref: "#/components/examples/bank_document_verification_attempt_creation_response_body"
              schema:
                $ref: "#/components/schemas/BankDocumentVerificationAttemptOutputPost"
        "404":
          description: The provided Bank Document Verification ID is not valid
        "409":
          description: The Bank Document Verification is not in a valid state to create an attempt.
            The Bank Document Verification status must be `created` or `retry_required`
        "500":
          description: An error occurred while creating the attempt

  /v2/bank-document-verifications/{bank_document_verification_id}/attempts/{attempt_id}:
    get:
      tags:
        - Bank document verifications (Coming soon)
      summary: Retrieve a Bank Document Verification attempt
      description: This endpoint allows you to retrieve the details for a given Bank Document Verification attempt.
      operationId: fetch_attempts_bank_document_verification
      parameters:
        - name: bank_document_verification_id
          in: path
          description: ID of the document verification
          required: true
          schema:
            type: string
        - name: attempt_id
          in: path
          description: ID of the document verification attempt
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Bank Document Verification attempt retrieved successfully
          content:
            application/json:
              examples:
                bank_document_verification_attempt_get_response_body:
                  $ref: "#/components/examples/bank_document_verification_attempt_get_response_body"
              schema:
                allOf:
                  - $ref: "#/components/schemas/BankDocumentVerificationAttemptOutputGet"
        "404":
          description: The provided document verification attempt ID is not valid
        "500":
          description: An error occurred while fetching the attempt

  /v2/bank-document-verifications/{bank_document_verification_id}/attempts/{attempt_id}/assets:
    get:
      tags:
        - Bank document verifications (Coming soon)
      summary: Retrieve a Bank Document Verification attempt asset
      operationId: fetch_asset_bank_document_verification_attempt
      description: |
        This endpoint allows you to retrieve the assets associated with a Bank Document Verification.
        This includes the document image.

        The response is paginated (see [Pagination](#section/API-standards/Pagination) section).
        You can navigate through pages using the `skip` and `limit` query parameters or by following the URLs in the `_links` object.
      parameters:
        - name: bank_document_verification_id
          in: path
          description: ID of the Bank Document Verification
          required: true
          schema:
            type: string
        - name: attempt_id
          in: path
          description: ID of the Bank Document Verification attempt
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/skipParam"
        - $ref: "#/components/parameters/limitParam"
      responses:
        "200":
          description: Bank Document Verification attempt asset retrieved successfully
          content:
            application/json:
              examples:
                bank_document_verification_attempt_output_assets_response_body:
                  $ref: "#/components/examples/bank_document_verification_attempt_output_assets_response_body"
              schema:
                $ref: "#/components/schemas/BankDocumentVerificationAttemptAssetsOutput"

  /v2/bank-document-verifications/{bank_document_verification_id}/notify:
    post:
      tags:
        - Bank document verifications (Coming soon)
      summary: Request webhook notification
      operationId: notify_bank_document_verification
      description: This endpoint can be used to initiate a webhook call containing the latest event of a Bank Document Verification
      parameters:
        - name: bank_document_verification_id
          in: path
          description: ID of the document verification to notify
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                webhook_url:
                  type: string
                  format: uri
      responses:
        "204":
          description: Notification successfully requested

  /v2/bank-document-verifications/{bank_document_verification_id}/pdf-report:
    get:
      tags:
        - Bank document verifications (Coming soon)
      summary: Retrieve PDF report of a Bank Document Verification
      operationId: pdf_bank_document_verification
      description: |
        This endpoint allows you to retrieve a PDF report of a Bank Document Verification.

        Please note that the PDF report is only available for bank document verifications that are
        in status `declined` and `approved` once you receive the `bank_document_verification_report_created` event.
      parameters:
        - name: bank_document_verification_id
          in: path
          description: ID of the Bank Document Verification 
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Bank Document Verification PDF report retrieved successfully
          content:
            application/json:
              examples:
                bank_document_verification_pdf_report_response_body:
                  $ref: "#/components/examples/bank_document_verification_pdf_report_response_body"
              schema:
                $ref: "#/components/schemas/BankDocumentVerificationOutputPdfReport"
        "404":
          description: The PDF report is not available

  /v2/business-applicants:
    post:
      tags:
        - Business applicants
      summary: Create a Business Applicant
      description: This section describes all endpoints related to business applicants. It will enable you to create and manage business applicant objects.
      operationId: create_business_applicant
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BusinessApplicantInputPost"
            examples:
              All possible data:
                $ref: "#/components/examples/business_applicant_creation_request_body"

      responses:
        "201":
          description: Business applicant successfully created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BusinessApplicantOutputPost"
              examples:
                Always replies:
                  $ref: "#/components/examples/business_applicant_response_body"
          links:
            RetrieveBusinessApplicantById:
              operationId: retrieve_business_applicant
              parameters:
                business_applicant_id: "$response.body#/id"
        "400":
          description: Bad request
          content:
            application/json:
              examples:
                Invalid request:
                  value:
                    {
                      "error_type": "request_invalid",
                      "error_codes": ["external_applicant_id__invalid"],
                    }

  /v2/business-applicants/{business_applicant_id}:
    get:
      tags:
        - Business applicants
      summary: Retrieve a Business Applicant
      description: Retrieve a Business Applicant
      operationId: retrieve_business_applicant
      parameters:
        - name: business_applicant_id
          required: true
          in: path
          description: ID of Business Applicant to return
          schema:
            $ref: "#/components/schemas/BusinessApplicantId"
      responses:
        "200":
          description: business applicant retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BusinessApplicantOutputGet"
              examples:
                Always replies:
                  $ref: "#/components/examples/business_applicant_response_body"
        "404":
          description: "Business applicant not found"

  /v2/company-document-verifications:
    post:
      tags:
        - Company document verifications (Coming soon)
      summary: Create a Company Document Verification
      operationId: create_company_document_verification
      description: Creates a Company Document Verification
      requestBody:
        required: true
        content:
          application/json:
            examples:
              company_document_verification_creation_request_body_min:
                $ref: "#/components/examples/company_document_verification_creation_request_body_min"
              company_document_verification_creation_request_body_max:
                $ref: "#/components/examples/company_document_verification_creation_request_body_max"
            schema:
              $ref: "#/components/schemas/CompanyDocumentVerificationInputPost"
      responses:
        "201":
          description: Company Document Verification created successfully
          content:
            application/json:
              examples:
                company_document_verification_creation_response_body:
                  $ref: "#/components/examples/company_document_verification_creation_response_body"
              schema:
                allOf:
                  - $ref: "#/components/schemas/CompanyDocumentVerificationOutputPost"
        "400":
          description: Bad request
        "401":
          description: Unauthorized
        "422":
          description: Unprocessable entity
        "500":
          description: Internal server error
        "503":
          description: Service unavailable

  /v2/company-document-verifications/{company_document_verification_id}:
    get:
      tags:
        - Company document verifications (Coming soon)
      summary: Retrieve a Company Document Verification
      description: This endpoint allows you to get the detailed results of a Company Document Verification
      operationId: retrieve_company_document_verification
      parameters:
        - name: company_document_verification_id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/CompanyDocumentVerificationId"
      responses:
        "200":
          description: Company Document Verification retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/CompanyDocumentVerificationOutputGet"
        "404":
          description: Company Document Verification not found
        "500":
          description: Internal server error

  /v2/company-document-verifications/{company_document_verification_id}/anonymize:
    post:
      tags:
        - Company document verifications (Coming soon)
      summary: Anonymize a Company Document Verification
      operationId: anonymize_company_document_verification
      description: Anonymize the personal data of a Company Document Verification with the specified ID.
      parameters:
        - name: company_document_verification_id
          in: path
          description: ID of the document verification to anonymize
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Company Document Verification anonymized
          content:
            application/json:
              examples:
                company_document_verification_anonymization_response_body:
                  $ref: "#/components/examples/company_document_verification_anonymization_response_body"
              schema:
                required: [applicant_id, user_journey_id]
                allOf:
                  - $ref: "#/components/schemas/CompanyDocumentVerificationOutputAnonymize"
        "404":
          description: Company Document Verification not found
        "500":
          description: Internal server error

  /v2/company-document-verifications/{company_document_verification_id}/attempts:
    get:
      tags:
        - Company document verifications (Coming soon)
      summary: List Company Document Verification attempts
      operationId: list_attempts_company_document_verification
      description: |
        This endpoint allows you to list all attempts of a Company Document Verification.

        Attempts are returned ordered by creation date, newest first.

        The response is paginated (see [Pagination](#section/API-standards/Pagination) section).
        You can navigate through pages using the `skip` and `limit` query parameters or by following the URLs in the `_links` object.
      parameters:
        - name: company_document_verification_id
          in: path
          description: ID of the document verification
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/skipParam"
        - $ref: "#/components/parameters/limitParam"
      responses:
        "200":
          description: Company Document Verification attempts retrieved successfully
          content:
            application/json:
              examples:
                company_document_verification_attempt_list_response_body:
                  $ref: "#/components/examples/company_document_verification_attempt_list_response_body"
              schema:
                allOf:
                  - $ref: "#/components/schemas/CompanyDocumentVerificationAttemptOutputList"
        "404":
          description: The provided document verification ID is not valid
        "500":
          description: An error occurred while fetching the attempts
    post:
      tags:
        - Company document verifications (Coming soon)
      summary: Create a Company Document Verification attempt
      description: "This endpoint allows you to create a Company Document Verification attempt. It is possible when the Company Document Verification 
        is one of the following statuses: `created`, `retry_required`"
      operationId: create_company_document_verification_attempt
      parameters:
        - name: company_document_verification_id
          in: path
          description: ID of the document verification
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            examples:
              company_document_verification_attempt_creation_request_body_min:
                $ref: "#/components/examples/company_document_verification_attempt_creation_request_body_min"
              company_document_verification_attempt_creation_request_body_max:
                $ref: "#/components/examples/company_document_verification_attempt_creation_request_body_max"
            schema:
              $ref: "#/components/schemas/CompanyDocumentVerificationAttemptInputPost"
      responses:
        "201":
          description: Company Document Verification attempt created
          content:
            application/json:
              examples:
                company_document_verification_attempt_creation_response_body:
                  $ref: "#/components/examples/company_document_verification_attempt_creation_response_body"
              schema:
                $ref: "#/components/schemas/CompanyDocumentVerificationAttemptOutputPost"
        "404":
          description: The provided Company Document Verification ID is not valid
        "409":
          description: The Company Document Verification is not in a valid state to create an attempt.
            The Company Document Verification status must be `created` or `retry_required`
        "500":
          description: An error occurred while creating the attempt

  /v2/company-document-verifications/{company_document_verification_id}/attempts/{attempt_id}:
    get:
      tags:
        - Company document verifications (Coming soon)
      summary: Retrieve a Company Document Verification attempt
      description: This endpoint allows you to retrieve the details for a given Company Document Verification attempt.
      operationId: fetch_attempts_company_document_verification
      parameters:
        - name: company_document_verification_id
          in: path
          description: ID of the document verification
          required: true
          schema:
            type: string
        - name: attempt_id
          in: path
          description: ID of the document verification attempt
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Company Document Verification attempt retrieved successfully
          content:
            application/json:
              examples:
                company_document_verification_attempt_get_response_body:
                  $ref: "#/components/examples/company_document_verification_attempt_get_response_body"
              schema:
                allOf:
                  - $ref: "#/components/schemas/CompanyDocumentVerificationAttemptOutputGet"
        "404":
          description: The provided document verification attempt ID is not valid
        "500":
          description: An error occurred while fetching the attempt

  /v2/company-document-verifications/{company_document_verification_id}/attempts/{attempt_id}/assets:
    get:
      tags:
        - Company document verifications (Coming soon)
      summary: Retrieve a Company Document Verification attempt asset
      operationId: fetch_asset_company_document_verification_attempt
      description: |
        This endpoint allows you to retrieve the assets associated with a Company Document Verification.
        This includes the document image.

        The response is paginated (see [Pagination](#section/API-standards/Pagination) section).
        You can navigate through pages using the `skip` and `limit` query parameters or by following the URLs in the `_links` object.
      parameters:
        - name: company_document_verification_id
          in: path
          description: ID of the Company Document Verification
          required: true
          schema:
            type: string
        - name: attempt_id
          in: path
          description: ID of the Company Document Verification attempt
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/skipParam"
        - $ref: "#/components/parameters/limitParam"
      responses:
        "200":
          description: Company Document Verification attempt asset retrieved successfully
          content:
            application/json:
              examples:
                company_document_verification_attempt_output_assets_response_body:
                  $ref: "#/components/examples/company_document_verification_attempt_output_assets_response_body"
              schema:
                $ref: "#/components/schemas/CompanyDocumentVerificationAttemptAssetsOutput"

  /v2/company-document-verifications/{company_document_verification_id}/notify:
    post:
      tags:
        - Company document verifications (Coming soon)
      summary: Request webhook notification
      operationId: notify_company_document_verification
      description: This endpoint can be used to initiate a webhook call containing the latest event of a Company Document Verification
      parameters:
        - name: company_document_verification_id
          in: path
          description: ID of the document verification to notify
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                webhook_url:
                  type: string
                  format: uri
      responses:
        "204":
          description: Notification successfully requested

  /v2/company-document-verifications/{company_document_verification_id}/pdf-report:
    get:
      tags:
        - Company document verifications (Coming soon)
      summary: Retrieve PDF report of a Company Document Verification
      operationId: pdf_company_document_verification
      description: |
        This endpoint allows you to retrieve a PDF report of a Company Document Verification.

        Please note that the PDF report is only available for company document verifications that are
        in status `declined` and `approved` once you receive the `company_document_verification_report_created` event.
      parameters:
        - name: company_document_verification_id
          in: path
          description: ID of the Company Document Verification 
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Company Document Verification PDF report retrieved successfully
          content:
            application/json:
              examples:
                company_document_verification_pdf_report_response_body:
                  $ref: "#/components/examples/company_document_verification_pdf_report_response_body"
              schema:
                $ref: "#/components/schemas/CompanyDocumentVerificationOutputPdfReport"
        "404":
          description: The PDF report is not available

  /v2/create-and-start-idv:
    post:
      tags:
        - Identity verifications
      summary: Create and start an identity verification
      description: This endpoint allows you to create and identity verification. You should get a `201` response and the identity verification resource containing the `_links/verification_url`.
      operationId: create_and_start_identity_verification
      requestBody:
        required: true
        content:
          application/json:
            examples:
              Only required data:
                $ref: "#/components/examples/identity_verification_creation_request_body_helper_min"
              All possible data:
                $ref: "#/components/examples/identity_verification_creation_request_body_helper_max"
              Use an existing applicant:
                $ref: "#/components/examples/identity_verification_creation_request_body_min_plus_aplt"
            schema:
              $ref: "#/components/schemas/IdentityVerificationInputHelper"
      responses:
        "201":
          description: Identity verification created
          content:
            application/json:
              examples:
                identity_verification_creation_response_body_helper:
                  $ref: "#/components/examples/identity_verification_creation_response_body_helper"
              schema:
                allOf:
                  - $ref: "#/components/schemas/IdentityVerificationOutputHelper"
      callbacks:
        statusChanged:
          "{$request.body#/webhook_url}":
            post:
              summary: Status update notification
              requestBody:
                required: true
                content:
                  application/json:
                    example:
                      {
                        "specversion": "2.0",
                        "type": "identity_verification_capture_completed",
                        "subject": "idv_5hxpdwegjcbujpth3wdo55d3vm",
                        "id": "evnt_5hxpdwegjcbujpth3wdo55d3vm",
                        "time": "2023-03-22T17:31:00Z",
                        "datacontenttype": "application/json",
                        "data":
                          {
                            "applicant_id": "aplt_5hxpdwegjcbujpth3wdo55d3vm",
                            "user_journey_id": "usj_5hxpdwegjcbujpth3wdo55d3vm",
                            "identity_verification_id": "idv_5hxpdwegjcbujpth3wdo55d3vm",
                            "status": "declined",
                            "response_codes":
                              [
                                {
                                  "code": 61310,
                                  "summary": "document_front_not_captured",
                                },
                                {
                                  "code": 62102,
                                  "summary": "document_not_accepted",
                                },
                              ],
                          },
                      }
                    schema:
                      $ref: "#/components/schemas/Event"
              responses:
                "200":
                  description: Your server returns this code if it accepts the callback.
                "201":
                  description: Your server returns this code if it accepts the callback.

  /v2/face-authentications:
    post:
      tags:
        - Face authentications
      summary: Create a face authentication
      description: This endpoint allows you to create a face authentication.
      operationId: create_face_authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FaceAuthenticationInputPost"
      responses:
        "201":
          description: Face authentication created
          content:
            application/json:
              examples:
                face_authentication_creation_response_body:
                  $ref: "#/components/examples/face_authentication_creation_response_body"
              schema:
                allOf:
                  - $ref: "#/components/schemas/FaceAuthenticationOutputPost"
        "400":
          description: Bad request
        "500":
          description: Internal server error

  /v2/face-authentications/{face_authentication_id}:
    get:
      tags:
        - Face authentications
      summary: Retrieve a face authentication
      description: This endpoint allows you to get the detailed results of a face authentication.
      operationId: retrieve_face_authentication
      parameters:
        - name: face_authentication_id
          required: true
          in: path
          description: ID of the face authentication
          schema:
            $ref: "#/components/schemas/FaceAuthenticationId"
      responses:
        "200":
          description: Face authentication retrieved
          content:
            application/json:
              examples:
                face_authentication_creation_response_body:
                  $ref: "#/components/examples/face_authentication_creation_response_body"
              schema:
                allOf:
                  - $ref: "#/components/schemas/FaceAuthenticationOutputGet"
        "404":
          description: Face authentication not found
        "500":
          description: Internal server error

  /v2/face-authentications/{face_authentication_id}/anonymize:
    post:
      tags:
        - Face authentications
      summary: Anonymize a face authentication
      description: Anonymize the personal data of a face authentication with the specified ID.
      operationId: anonymize_face_authentication
      parameters:
        - name: face_authentication_id
          in: path
          description: ID of the face authentication to anonymize
          required: true
          schema:
            type: string

      responses:
        "200":
          description: Face authentication anonymization requested
          content:
            application/json:
              examples:
                face_authentication_anonymization_response_body:
                  $ref: "#/components/examples/face_authentication_anonymization_response_body"
              schema:
                required: [applicant_id, user_journey_id]
                allOf:
                  - $ref: "#/components/schemas/FaceAuthenticationOutputAnonymize"
        "404":
          description: Face authentication not found
        "400":
          description: Bad request. The face authentication cannot be anonymized.
        "500":
          description: Internal server error

  /v2/face-authentications/{face_authentication_id}/attempts:
    get:
      tags:
        - Face authentications
      summary: List attempts
      description: |
        This endpoint allows you to list all attempts of a face authentication.

        Attempts are returned ordered by creation date, newest first.

        The response is paginated (see [Pagination](#section/API-standards/Pagination) section).
        You can navigate through pages using the `skip` and `limit` query parameters or by following the URLs in the `_links` object.
      operationId: list_attempts_face_authentication
      parameters:
        - name: face_authentication_id
          in: path
          description: ID of the face authentication
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/skipParam"
        - $ref: "#/components/parameters/limitParam"
      responses:
        "200":
          description: List attempts
          content:
            application/json:
              examples:
                face_authentication_attempt_list_response_body:
                  $ref: "#/components/examples/face_authentication_attempt_list_response_body"
              schema:
                allOf:
                  - $ref: "#/components/schemas/FaceAuthenticationAttemptResponseList"
        "404":
          description: The provided face authentication ID is not valid
        "500":
          description: An error occurred while fetching the attempts
    post:
      tags:
        - Face authentications
      summary: Create an attempt
      description: This endpoint allows you to create a new Attempt. It is possible when the face-authentication is in one of
        the following statuses `created`, `pending`, `capture_in_progress`, `retry_required`
      operationId: create_attempt_face_authentication
      parameters:
        - name: face_authentication_id
          in: path
          description: ID of the face authentication
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            examples:
              Minimal body:
                $ref: "#/components/examples/attempt_creation_request_body_min"
              All possible data:
                $ref: "#/components/examples/face_attempt_creation_request_body_max"
            schema:
              $ref: "#/components/schemas/FaceAuthenticationAttemptInputPost"
      responses:
        "201":
          description: Attempt created
          content:
            application/json:
              examples:
                face_authentication_attempt_creation_response_body:
                  $ref: "#/components/examples/face_authentication_attempt_creation_response_body"
              schema:
                allOf:
                  - $ref: "#/components/schemas/FaceAuthenticationAttemptOutputPost"
        "404":
          description: The provided face authentication ID is not valid
        "409":
          description: The current face authentication status does not allow the creation of a new attempt.
            The face authentication status must be either `created`, `pending`, `capture_in_progress`, or `retry_required`
        "500":
          description: An error occurred while creating the attempt

  /v2/face-authentications/{face_authentication_id}/attempts/{attempt_id}:
    get:
      tags:
        - Face authentications
      summary: Retrieve an attempt
      description: This endpoint allows you to retrieve the details for a given attempt
      operationId: fetch_attempts_face_authentication
      parameters:
        - name: face_authentication_id
          in: path
          description: ID of the face authentication
          required: true
          schema:
            type: string
        - name: attempt_id
          in: path
          description: ID of the attempt
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Attempt fetched
          content:
            application/json:
              examples:
                face_authentication_detail_response_body:
                  $ref: "#/components/examples/face_authentication_attempt_get_response_body"
              schema:
                allOf:
                  - $ref: "#/components/schemas/FaceAuthenticationAttemptOutputGet"
        "404":
          description: The provided face authentication ID or attempt ID is not valid
        "500":
          description: An error occurred while fetching the attempt

  /v2/face-authentications/{face_authentication_id}/attempts/{attempt_id}/assets:
    get:
      tags:
        - Face authentications
      summary: Retrieve attempt assets
      description: |
        Retrieves the assets associated with a face authentication attempt.
        This includes face images and videos captured during the verification process.
        Please note that videos are not exposed by default, contact your account manager to enable this feature.

        The response is paginated (see [Pagination](#section/API-standards/Pagination) section).
        You can navigate through pages using the `skip` and `limit` query parameters or by following the URLs in the `_links` object.
      operationId: retrieve_face_authentication_attempt_assets
      parameters:
        - name: face_authentication_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the face authentication
        - name: attempt_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the attempt
        - $ref: "#/components/parameters/skipParam"
        - $ref: "#/components/parameters/limitParam"
      responses:
        '200':
          description: The assets were retrieved successfully
          content:
            application/json:
              examples:
                face_authentication_attempt_assets_response_body:
                  $ref: "#/components/examples/face_authentication_attempt_assets_response_body"
              schema:
                $ref: "#/components/schemas/FaceAuthenticationAttemptAssetsOutput"

  /v2/face-authentications/{face_authentication_id}/notify:
    post:
      tags:
        - Face authentications
      summary: Request webhook notification
      operationId: notify_face_authentication
      description: This endpoint can be used to initiate a webhook call containing the latest event of a face authentication.
      parameters:
        - name: face_authentication_id
          in: path
          description: ID of the face authentication to notify
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                webhook_url:
                  type: string
                  format: uri
      responses:
        "204":
          description: Notification successfully requested

  /v2/id-document-verifications:
    post:
      tags:
        - ID document verifications
      summary: Create an ID document verification
      operationId: create_id_document_verification
      description: Creates an ID document verification
      requestBody:
        required: true
        content:
          application/json:
            examples:
              id_document_verification_creation_request_body_min:
                $ref: "#/components/examples/id_document_verification_creation_request_body_min"
              id_document_verification_creation_request_body_max:
                $ref: "#/components/examples/id_document_verification_creation_request_body_max"
            schema:
              $ref: "#/components/schemas/IdDocumentVerificationInputPost"
      responses:
        "201":
          description: ID document verification created successfully
          content:
            application/json:
              examples:
                id_document_verification_creation_response_body:
                  $ref: "#/components/examples/id_document_verification_creation_response_body"
              schema:
                allOf:
                  - $ref: "#/components/schemas/IdDocumentVerificationOutputPost"
        "400":
          description: Bad request
        "401":
          description: Unauthorized
        "422":
          description: Unprocessable entity
        "500":
          description: Internal server error
        "503":
          description: Service unavailable

  /v2/id-document-verifications/{id_document_verification_id}:
    get:
      tags:
        - ID document verifications
      summary: Retrieve an ID document verification
      description: This endpoint allows you to get the detailed results of an ID document verification
      operationId: retrieve_id_document_verification
      parameters:
        - name: id_document_verification_id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/IdDocumentVerificationId"
      responses:
        "200":
          description: Document verification retrieved successfully
          content:
            application/json:
              examples:
                id_document_verification_creation_response_body:
                  $ref: "#/components/examples/id_document_verification_creation_response_body"
              schema:
                $ref: "#/components/schemas/IdDocumentVerificationOutputGet"
        "404":
          description: ID document verification not found
        "500":
          description: Internal server error

  /v2/id-document-verifications/{id_document_verification_id}/anonymize:
    post:
      tags:
        - ID document verifications
      summary: Anonymize an ID document verification
      operationId: anonymize_id_document_verification
      description: Anonymize the personal data of an ID document verification with the specified ID.
      parameters:
        - name: id_document_verification_id
          in: path
          description: ID of the document verification to anonymize
          required: true
          schema:
            type: string
      responses:
        "200":
          description: ID document verification anonymized
          content:
            application/json:
              examples:
                id_document_verification_anonymization_response_body:
                  $ref: "#/components/examples/id_document_verification_anonymization_response_body"
              schema:
                required: [applicant_id, user_journey_id]
                allOf:
                  - $ref: "#/components/schemas/IdDocumentVerificationOutputAnonymize"
        "404":
          description: ID document verification not found
        "500":
          description: Internal server error

  /v2/id-document-verifications/{id_document_verification_id}/attempts:
    get:
      tags:
        - ID document verifications
      summary: List ID document verification attempts
      operationId: list_attempts_id_document_verification
      description: |
        This endpoint allows you to list all attempts of an ID document verification.

        Attempts are returned ordered by creation date, newest first.

        The response is paginated (see [Pagination](#section/API-standards/Pagination) section).
        You can navigate through pages using the `skip` and `limit` query parameters or by following the URLs in the `_links` object.
      parameters:
        - name: id_document_verification_id
          in: path
          description: ID of the document verification
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/skipParam"
        - $ref: "#/components/parameters/limitParam"
      responses:
        "200":
          description: ID document verification attempts retrieved successfully
          content:
            application/json:
              examples:
                id_document_verification_attempt_list_response_body:
                  $ref: "#/components/examples/id_document_verification_attempt_list_response_body"
              schema:
                allOf:
                  - $ref: "#/components/schemas/IdDocumentVerificationAttemptOutputList"
        "404":
          description: The provided document verification ID is not valid
        "500":
          description: An error occurred while fetching the attempts
    post:
      tags:
        - ID document verifications
      summary: Create an ID document verification attempt
      description: "This endpoint allows you to create an ID document verification attempt. It is possible when the ID document verification 
        is one of the following statuses: `created`, `retry_required`"
      operationId: create_id_document_verification_attempt
      parameters:
        - name: id_document_verification_id
          in: path
          description: ID of the document verification
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            examples:
              id_document_verification_attempt_creation_request_body_min:
                $ref: "#/components/examples/id_document_verification_attempt_creation_request_body_min"
              id_document_verification_attempt_creation_request_body_max:
                $ref: "#/components/examples/id_document_verification_attempt_creation_request_body_max"
            schema:
              $ref: "#/components/schemas/IdDocumentVerificationAttemptInputPost"
      responses:
        "201":
          description: ID document verification attempt created
          content:
            application/json:
              examples:
                id_document_verification_attempt_creation_response_body:
                  $ref: "#/components/examples/id_document_verification_attempt_creation_response_body"
              schema:
                $ref: "#/components/schemas/IdDocumentVerificationAttemptOutputPost"
        "404":
          description: The provided ID document verification ID is not valid
        "409":
          description: The ID document verification is not in a valid state to create an attempt.
            The ID document verification status must be `created` or `retry_required`
        "500":
          description: An error occurred while creating the attempt

  /v2/id-document-verifications/{id_document_verification_id}/attempts/{attempt_id}:
    get:
      tags:
        - ID document verifications
      summary: Retrieve an ID document verification attempt
      description: This endpoint allows you to retrieve the details for a given ID document verification attempt
      operationId: fetch_attempts_id_document_verification
      parameters:
        - name: id_document_verification_id
          in: path
          description: ID of the document verification
          required: true
          schema:
            type: string
        - name: attempt_id
          in: path
          description: ID of the document verification attempt
          required: true
          schema:
            type: string
      responses:
        "200":
          description: ID document verification attempt retrieved successfully
          content:
            application/json:
              examples:
                id_document_verification_attempt_get_response_body:
                  $ref: "#/components/examples/id_document_verification_attempt_get_response_body"
              schema:
                allOf:
                  - $ref: "#/components/schemas/IdDocumentVerificationAttemptOutputGet"
        "404":
          description: The provided document verification attempt ID is not valid
        "500":
          description: An error occurred while fetching the attempt

  /v2/id-document-verifications/{id_document_verification_id}/attempts/{attempt_id}/assets:
    get:
      tags:
        - ID document verifications
      summary: Retrieve an ID document verification attempt asset
      operationId: fetch_asset_id_document_verification_attempt
      description: |
        This endpoint allows you to retrieve the assets associated with an ID document verification.
        This includes the document front image and the document back image.

        The response is paginated (see [Pagination](#section/API-standards/Pagination) section).
        You can navigate through pages using the `skip` and `limit` query parameters or by following the URLs in the `_links` object.
      parameters:
        - name: id_document_verification_id
          in: path
          description: ID of the ID document verification
          required: true
          schema:
            type: string
        - name: attempt_id
          in: path
          description: ID of the ID document verification attempt
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/skipParam"
        - $ref: "#/components/parameters/limitParam"
      responses:
        "200":
          description: ID document verification attempt asset retrieved successfully
          content:
            application/json:
              examples:
                id_document_verification_attempt_output_assets_response_body:
                  $ref: "#/components/examples/id_document_verification_attempt_output_assets_response_body"
              schema:
                $ref: "#/components/schemas/IdDocumentVerificationAttemptAssetsOutput"

  /v2/id-document-verifications/{id_document_verification_id}/notify:
    post:
      tags:
        - ID document verifications
      summary: Request webhook notification
      operationId: notify_id_document_verification
      description: This endpoint can be used to initiate a webhook call containing the latest event of an ID document verification
      parameters:
        - name: id_document_verification_id
          in: path
          description: ID of the document verification to notify
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                webhook_url:
                  type: string
                  format: uri
      responses:
        "204":
          description: Notification successfully requested

  /v2/id-document-verifications/{id_document_verification_id}/pdf-report:
    get:
      tags:
        - ID document verifications
      summary: Retrieve PDF report of an ID document verification
      operationId: pdf_id_document_verification
      description: |
        This endpoint allows you to retrieve a PDF report of an ID document verification.

        Please note that the PDF report is only available for ID document verifications that are
        in status `declined` and `approved` once you receive the `id_document_verification_report_created` event.
      parameters:
        - name: id_document_verification_id
          in: path
          description: ID of the ID document verification 
          required: true
          schema:
            type: string
      responses:
        "200":
          description: ID document verification PDF report retrieved successfully
          content:
            application/json:
              examples:
                id_document_verification_pdf_report_response_body:
                  $ref: "#/components/examples/id_document_verification_pdf_report_response_body"
              schema:
                $ref: "#/components/schemas/IdDocumentVerificationOutputPdfReport"
        "404":
          description: The PDF report is not available

  /v2/identity-verifications:
    post:
      tags:
        - Identity verifications
      summary: Create an identity verification
      description: |
        Creates an identity verification.

        When this request is successful, you'll get a 201 response with the identity verification resource.
      operationId: create_identity_verification
      requestBody:
        required: true
        content:
          application/json:
            examples:
              Only required data:
                $ref: '#/components/examples/identity_verification_creation_request_body_min'
              All possible data:
                $ref: '#/components/examples/identity_verification_creation_request_body_max'
            schema:
              $ref: '#/components/schemas/IdentityVerificationInputPost'
      responses:
        '201':
          description: Identity verification created successfully
          content:
            application/json:
              examples:
                identity_verification_creation_response_body:
                  $ref: "#/components/examples/identity_verification_creation_response_body"
              schema:
                allOf:
                  - $ref: '#/components/schemas/IdentityVerificationOutputPost'
        '400':
          description: Bad request.
    # Not taken into account in interface testing
    #          content:
    #            application/json:
    #              example:
    #                $ref: '#/components/examples/idv_identity_verification_creation_request_invalid_body'
    #              schema:
    #                $ref: '#/components/schemas/ResponseError'
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable entity
    # Not taken into account in interface testing
    #          content:
    #            application/json:
    #              example:
    #                $ref: '#/components/examples/idv_identity_verification_unprocessable_entity_body'
    #              schema:
    #                $ref: '#/components/schemas/ResponseError'
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable

  /v2/identity-verifications/{identity_verification_id}:
    get:
      tags:
        - Identity verifications
      summary: Retrieve an identity verification
      description: This endpoint allows you to get the detailed results of an identity verification.
      operationId: retrieve_identity_verification
      parameters:
        - name: identity_verification_id
          required: true
          in: path
          description: ID of the identity verification
          schema:
            $ref: "#/components/schemas/IdentityVerificationId"
      responses:
        "200":
          description: Identity verification retrieved
          content:
            application/json:
              examples:
                identity_verification_response_body:
                  $ref: "#/components/examples/identity_verification_response_body"
              schema:
                allOf:
                  - $ref: "#/components/schemas/IdentityVerificationOutputGet"

  /v2/identity-verifications/{identity_verification_id}/anonymize:
    post:
      tags:
        - Identity verifications
      summary: Anonymize an identity verification
      description: Anonymize the personal data of an identity verification with the specified ID.
      operationId: anonymize_identity_verification
      parameters:
        - name: identity_verification_id
          in: path
          description: ID of the identity verification to anonymize
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Identity verification anonymized
          content:
            application/json:
              examples:
                identity_verification_anonymization_response_body:
                  $ref: "#/components/examples/identity_verification_anonymization_response_body"
              schema:
                allOf:
                  - $ref: "#/components/schemas/IdentityVerificationOutputAnonymize"
        "404":
          description: Identity verification not found
        "400":
          description: Bad request. The identity verification cannot be anonymized.
        "500":
          description: Internal server error

  /v2/identity-verifications/{identity_verification_id}/attempts:
    get:
      tags:
        - Identity verifications
      summary: List attempts
      description: |
        This endpoint allows you to list all attempts of a verification.

        Attempts are returned ordered by creation date, newest first.

        The response is paginated (see [Pagination](#section/API-standards/Pagination) section).
        You can navigate through pages using the `skip` and `limit` query parameters or by following the URLs in the `_links` object.
      operationId: list_attempts
      parameters:
        - name: identity_verification_id
          in: path
          description: ID of the identity verification
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/skipParam"
        - $ref: "#/components/parameters/limitParam"
      responses:
        "200":
          description: List attempt
          content:
            application/json:
              examples:
                identity_verification_list_response_body:
                  $ref: "#/components/examples/identity_verification_attempt_list_response_body"
              schema:
                allOf:
                  - $ref: "#/components/schemas/IdentityVerificationAttemptOutputList"
        "404":
          description: The provided verification ID is not valid
        "500":
          description: An error occurred while fetching the attempts
    post:
      tags:
        - Identity verifications
      summary: Create an attempt
      description: This endpoint allows you to create a new Attempt. It is possible when the identity-verification is in one of
        the following statuses `created`, `pending`, `capture_in_progress`, `retry_required`
      operationId: create_attempt
      parameters:
        - name: identity_verification_id
          in: path
          description: ID of the identity verification
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            examples:
              Minimal body:
                $ref: "#/components/examples/attempt_creation_request_body_min"
              All possible data:
                $ref: "#/components/examples/identity_attempt_creation_request_body_max"
            schema:
              $ref: "#/components/schemas/IdentityVerificationAttemptInputPost"
      responses:
        "201":
          description: Attempt created
          content:
            application/json:
              examples:
                identity_verification_attempt_creation_response_body:
                  $ref: "#/components/examples/identity_verification_attempt_creation_response_body"
              schema:
                allOf:
                  - $ref: "#/components/schemas/IdentityVerificationAttemptOutputPost"
        "404":
          description: The provided verification ID is not valid
        "409":
          description: The current verification status does not allow the creation of a new attempt. The verification status must be either `created`, `pending`, `capture_in_progress`, or `retry_required`
        "500":
          description: An error occurred while creating the attempt

  /v2/identity-verifications/{identity_verification_id}/attempts/{attempt_id}:
    get:
      tags:
        - Identity verifications
      summary: Retrieve an attempt
      description: This endpoint allows you to retrieve the details for a given attempt
      operationId: fetch_attempts
      parameters:
        - name: identity_verification_id
          in: path
          description: ID of the identity verification
          required: true
          schema:
            type: string
        - name: attempt_id
          in: path
          description: ID of the attempt
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Attempt fetched
          content:
            application/json:
              examples:
                identity_verification_attempt_get_response_body:
                  $ref: "#/components/examples/identity_verification_attempt_get_response_body"
              schema:
                allOf:
                  - $ref: "#/components/schemas/IdentityVerificationAttemptOutputGet"
        "404":
          description: The provided verification ID or attempt ID is not valid
        "500":
          description: An error occurred while fetching the attempt

  /v2/identity-verifications/{identity_verification_id}/attempts/{attempt_id}/assets:
    get:
      tags:
        - Identity verifications
      summary: Retrieve attempt assets
      description: |
        Retrieves the assets associated with an identity verification attempt.
        This includes face images, videos, and document images captured during the verification process.
        Please note that videos are not exposed by default, contact your account manager to enable this feature.

        The response is paginated (see [Pagination](#section/API-standards/Pagination) section).
        You can navigate through pages using the `skip` and `limit` query parameters or by following the URLs in the `_links` object.
      operationId: retrieve_identity_verification_attempt_assets
      parameters:
        - name: identity_verification_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the identity verification
        - name: attempt_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the attempt
        - $ref: "#/components/parameters/skipParam"
        - $ref: "#/components/parameters/limitParam"
      responses:
        '200':
          description: The assets were retrieved successfully
          content:
            application/json:
              examples:
                identity_verification_attempt_assets_response_body:
                  $ref: "#/components/examples/identity_verification_attempt_assets_response_body"
              schema:
                $ref: "#/components/schemas/IdentityVerificationAttemptAssetsOutput"

  /v2/identity-verifications/{identity_verification_id}/notify:
    post:
      tags:
        - Identity verifications
      summary: Request webhook notification
      operationId: notify_identity_verification
      description: This endpoint can be used to initiate a webhook call containing the latest event of an identity verification.
      parameters:
        - name: identity_verification_id
          in: path
          description: ID of the identity verification to notify
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                webhook_url:
                  type: string
                  format: uri
      responses:
        "204":
          description: Notification successfully requested

  /v2/identity-verifications/{identity_verification_id}/pdf-report:
    get:
      tags:
        - Identity verifications
      summary: Retrieve PDF report of an identity verification
      description: |
        This endpoint allows you to retrieve a PDF report containing all the information of the identity verification.

        Please note that this report is only available for verifications in statuses `declined` and `approved` once you receive the `identity_verification_report_created` event.

      operationId: pdf_identity_verification
      parameters:
        - name: identity_verification_id
          in: path
          description: ID of the identity verification
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Operation success
          content:
            application/json:
              examples:
                identity_verification_pdf_response_body:
                  $ref: "#/components/examples/identity_verification_pdf_response_body"
              schema:
                required: [pdf_report]
                allOf:
                  - $ref: "#/components/schemas/IdentityVerificationOutputPdfReport"
        "404":
          description: The PDF is not available

  /v2/website-verifications:
    post:
      tags:
        - Website verifications (Coming soon)
      summary: Create a website verification
      operationId: create_website_verification
      description: Creates a website verification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebsiteVerificationInputPost"
      responses:
        "201":
          description: Website verification created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/WebsiteVerificationOutputPost"
        "400":
          description: Bad request
        "401":
          description: Unauthorized
        "422":
          description: Unprocessable entity
        "500":
          description: Internal server error
        "503":
          description: Service unavailable

  /v2/website-verifications/{website_verification_id}:
    get:
      tags:
        - Website verifications (Coming soon)
      summary: Retrieve a website verification
      description: This endpoint allows you to get the detailed results of a website verification
      operationId: retrieve_website_verification
      parameters:
        - name: website_verification_id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/WebsiteVerificationId"
      responses:
        "200":
          description: Website verification retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/WebsiteVerificationOutputGet"
        "404":
          description: Website verification not found
        "500":
          description: Internal server error

  /v2/website-verifications/{website_verification_id}/anonymize:
    post:
      tags:
        - Website verifications (Coming soon)
      summary: Anonymize a website verification
      operationId: anonymize_website_verification
      description: Anonymize the personal data of a website verification with the specified ID.
      parameters:
        - name: website_verification_id
          in: path
          description: ID of the website verification to anonymize
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Website verification anonymized
          content:
            application/json:
              schema:
                required: [applicant_id, user_journey_id, website_url]
                allOf:
                  - $ref: "#/components/schemas/WebsiteVerificationOutputAnonymize"
        "404":
          description: Website verification not found
        "500":
          description: Internal server error

  /v2/website-verifications/{website_verification_id}/notify:
    post:
      tags:
        - Website verifications (Coming soon)
      summary: Request webhook notification
      operationId: notify_website_verification
      description: This endpoint can be used to initiate a webhook call containing the latest event of a website verification
      parameters:
        - name: website_verification_id
          in: path
          description: ID of the website verification to notify
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                webhook_url:
                  type: string
                  format: uri
      responses:
        "204":
          description: Notification successfully requested

components:
  schemas:
    AMLVerificationBase:
      type: object
      allOf:
        - properties:
            webhook_url:
              type: string
              format: uri
            applicant_id:
              allOf:
                - $ref: "#/components/schemas/ApplicantId"
            search_parameters:
              $ref: "#/components/schemas/SearchParameters"
            monitored:
              type: boolean

    AMLVerificationId:
      type: string
      description: AML verification unique identifier.
      pattern: ^amlv_\w+$
      example: amlv_tkoi5db4hryu5cei5vwoabr7we

    AMLVerificationInputBase:
      type: object
      allOf:
        - $ref: "#/components/schemas/AMLVerificationBase"

    AMLVerificationInputPost:
      type: object
      required: [webhook_url, applicant_id, search_parameters]
      allOf:
        - $ref: "#/components/schemas/AMLVerificationInputBase"

    AMLVerificationLinks:
      type: object
      allOf:
        - $ref: "#/components/schemas/SelfLink"
        - $ref: "#/components/schemas/ApplicantLink"

    AMLVerificationOutputBase:
      type: object
      properties:
        status:
          allOf:
            - $ref: "#/components/schemas/AMLVerificationStatuses"
        _links:
          allOf:
            - $ref: "#/components/schemas/AMLVerificationLinks"
      allOf:
        - $ref: "#/components/schemas/AMLVerificationBase"

    AMLVerificationOutputGet:
      type: object
      required: [id, status, webhook_url, _links, applicant_id, search_parameters]
      properties:
        id:
          $ref: "#/components/schemas/AMLVerificationId"
      allOf:
        - $ref: "#/components/schemas/DatedObject"
        - $ref: "#/components/schemas/AMLVerificationOutputBase"

    AMLVerificationOutputPost:
      type: object
      required: [id, status, webhook_url, _links, applicant_id, search_parameters]
      properties:
        id:
          $ref: "#/components/schemas/AMLVerificationId"
      allOf:
        - $ref: "#/components/schemas/DatedObject"
        - $ref: "#/components/schemas/AMLVerificationOutputBase"

    AMLVerificationStatuses:
      type: string
      description: Status of the AML verification.
      enum:
        - created
        - screening_in_progress
        - approved
        - declined
        - review_required

    AccountTypes:
      type: string
      description: Type of account.
      enum:
        - checking
        - savings

    ActiveLink:
      type: object
      required: [verification_url]
      properties:
        verification_url:
          $ref: "#/components/schemas/HalLink"

    Address:
      type: object
      properties:
        address_line1:
          type: string
          maxLength: 250
        address_line2:
          type: string
          maxLength: 250
        city:
          type: string
          maxLength: 50
        state:
          type: string
          maxLength: 50
        zip:
          type: string
          maxLength: 50
        country:
          $ref: "#/components/schemas/CountryCodeIso2"

    AddressDocumentVerificationAttemptAsset:
      type: object
      required: [type, _links]
      properties:
        type:
          type: string
          description: Type of asset
          enum:
            - document
        _links:
          type: object
          properties:
            asset_url:
              type: object
              properties:
                href:
                  type: string
                  format: uri

    AddressDocumentVerificationAttemptAssetsOutput:
      type: object
      required: [total_count, skip, limit, _links, data]
      properties:
        data:
          type: array
          description: Array of Address Document Verification attempt assets for the current page
          minItems: 0
          items:
            $ref: "#/components/schemas/AddressDocumentVerificationAttemptAsset"
      allOf:
        - $ref: "#/components/schemas/BaseOutputList"

    AddressDocumentVerificationAttemptInputBase:
      type: object
      properties:
        document:
          type: string
          format: binary

    AddressDocumentVerificationAttemptInputPost:
      type: object
      required: [document]
      allOf:
        - $ref: "#/components/schemas/AddressDocumentVerificationAttemptInputBase"

    AddressDocumentVerificationAttemptOutputBase:
      type: object
      properties:
        id:
          type: string
        status:
          $ref: "#/components/schemas/AddressDocumentVerificationAttemptStates"
        response_codes:
          type: array
          minItems: 0
          items:
            $ref: "#/components/schemas/ResponseCodes"
        _links:
          $ref: "#/components/schemas/SelfLink"
      allOf:
        - $ref: "#/components/schemas/DatedObject"

    AddressDocumentVerificationAttemptOutputGet:
      type: object
      required: [id, status, response_codes, _links]
      allOf:
        - $ref: "#/components/schemas/AddressDocumentVerificationAttemptOutputBase"

    AddressDocumentVerificationAttemptOutputList:
      type: object
      required: [total_count, skip, limit, _links, data]
      properties:
        data:
          type: array
          description: Array of Address Document Verification attempts for the current page
          minItems: 0
          items:
            $ref: "#/components/schemas/AddressDocumentVerificationAttemptOutputGet"
      allOf:
        - $ref: "#/components/schemas/BaseOutputList"

    AddressDocumentVerificationAttemptOutputPost:
      type: object
      required: [id, status, response_codes, _links]
      allOf:
        - $ref: "#/components/schemas/AddressDocumentVerificationAttemptOutputBase"

    AddressDocumentVerificationAttemptStates:
      type: string
      description: Address Document Verification attempt state.
      enum:
        - quality_checks_in_progress
        - checks_in_progress
        - completed
        - quality_checks_aborted
        - checks_inconclusive
        - terminated

    AddressDocumentVerificationBase:
      type: object
      properties:
        user_journey_id:
          allOf:
            - $ref: "#/components/schemas/UserJourneyId"
        applicant_id:
          allOf:
            - $ref: "#/components/schemas/ApplicantId"
        webhook_url:
          type: string
          format: uri
        declared_data:
          $ref: "#/components/schemas/DeclaredData"

    AddressDocumentVerificationId:
      type: string
      description: Address Document Verification unique identifier.
      pattern: ^adv_\w+$
      example: adv_tkoi5db4hryu5cei5vwoabr7we

    AddressDocumentVerificationInputBase:
      type: object
      allOf:
        - $ref: "#/components/schemas/AddressDocumentVerificationBase"

    AddressDocumentVerificationInputPost:
      type: object
      required: [applicant_id, user_journey_id]
      allOf:
        - $ref: "#/components/schemas/AddressDocumentVerificationInputBase"

    AddressDocumentVerificationLinks:
      type: object
      allOf:
        - $ref: "#/components/schemas/SelfLink"

[...]
